*{margin: 0; padding: 0;box-sizing: border-box;}
body{
    background: orange;
}
#table{
    width: 100%;
}
th {
    background-color:rgb(4, 64, 112);
    color: white;
    text-align: center;
    padding:8px;
}
td{
    padding: 5px 3px;
}
td .overflow{
    width: 80px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
    .tabla{
        position: relative;
        width: 68%;
        text-align: center;
        float: left;
        top:120px;
        left: 50px;
    }
.regproducto{
    position: fixed;
    display: flex;
    width: 300px;
    height: 220px;
    background-color: rgb(4, 64, 112);
    margin-left: 790px;
    margin-top: 100px;
}

.regproducto2{
    position: fixed;
    display: flex;
    width: 300px;
    height: 220px;
    background-color: rgb(4, 64, 112);
    margin-left: 790px;
    margin-top: 350px;
}
.form{
    color: white;
    text-align: right;
    position: absolute;
    margin-top: 80px;
    margin-left: 20px;
    
}
.form form button{
    background: red;
    margin-right: 60px;
}
h3{
    margin-left: 8px;
    color: white;
}
.input{
    color: black;
}
#disp{
    margin-left: 55px;
}
.inclu{
    margin-left: 50px;
}
